.controls {
  button {
    cursor: pointer;
    font-family: "Sevillana", cursive;
    padding: 12px;
    padding-left: 119px;
    padding-right: 115px;
    margin-left: 37px;
    background-color: #939709;
    font-weight: 900;
    font-size: 25px;
    color:white;

  }
}
